.main{
   height: 100vh;
   margin: 0;
   background-image: url(../../images/pexels-ann-zzz-8226842\ —\ копия.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: row;
   justify-content:flex-end;
   align-items: center;
}