.mypage__person-photo{
   position: absolute;
   top: -100px;
   left: 30px;
   border: 2px solid var(--colorBackground);
   width: 120px;
   height: 150px;
   border-radius: 5px;
   background-color: var(--colorBackground);
   box-shadow: 5px 5px 15px var(--colorBackground);
}