.popup__choice-container{
   border: 1px solid var(--colorBackground);
   border-radius: 10px;
   padding: 5px;
   background-color: var(--colorMain);
}

.popup__choice-inside-container{
   overflow: hidden;
   display: flex;flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   transition: all 0.5s ease;
   max-height: 473px;
   background-color: var(--colorMain);
}

.popup__choice-inside-container_hidden{
   max-height: 42px;
}

.popup__hidebutton-container{
   position: relative;
   display: flex;
   justify-content: flex-end;
}

.popup__choice-inside-container_hidden + .popup__hidebutton-container{
   box-shadow: 0px -10px 10px var(--colorMain);
}

.popup__choice-hidebutton {
   margin: 10px 10px 0 0;
   width: 25px;
   height: 15px;
   border: none;
   background-color: transparent;
   transform: translateX(-7px);
}

.popup__choice-hidebutton::before,
.popup__choice-hidebutton::after {
   content: '';
   background-color: var(--colorBackground);
   width: 16px;
   height: 2px;
   position: absolute;
   top: 5px;
   transition: all 0.5s ease;
}

.popup__choice-hidebutton::before {
   transform: rotate(-45deg);
   left: 0px;
}

.popup__choice-hidebutton::after {
   transform: rotate(45deg);
   left: 10px;
}

.popup__choice-hidebutton_hidden::before {
   transform: rotate(45deg);
}

.popup__choice-hidebutton_hidden::after {
   transform: rotate(-45deg);
}

.popup__choice-into{
   width: 100%;
   font-family: 'Exo2';
   font-size: 12px;
   font-weight: 200;
   margin: 0 15px 5px;
}

.popup__choice-button{
   width: fit-content;
   height: 30px;
   border: none;
   border-radius: 10px;
   color: #fff;
   cursor: pointer;
   font-family: 'Exo2';
   font-size: 14px;
   font-weight: 100;
   background-color: var(--colorBrand);
   transition: all ease 0.5s;
   margin: 2.5px;
}

@media screen and (max-width: 480px) {
   .popup__choice-button {
      font-size: 14px;
      height: 25px;
   }
}