.popup__person_input_block{
   margin-bottom: 20px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 50px;
   row-gap: 10px;
}


.popup__person-input_container{
   position: relative;
   display: flex;
   flex-direction: row;
   min-height: 40px;
   column-gap: 5px;
}

.popup__person-input_container_date{
   flex-direction: row;
   max-width: 110px;
}

.popup__person-input{
   color: var(--colorBackground);
   font-family: 'Exo2';
   font-size: 14px;
   font-weight: 300;
   border: 0.5px solid var(--colorBackground);
   border-radius: 5px;
   padding: 4px;
   margin-bottom: 10px;
}

.popup__person-input:focus{
   outline: none;
   outline-offset: 0;
   outline: 1px solid var(--colorBackground);
}

.popup__person-input_small{
   width: 220px;
   height: 20px;
   margin-top: -5px;
}

.popup__person-input_long{
   width: 80%;
   max-width: 575px;
   min-height: 40px;
}

@media screen and (max-width: 780px) {
   .popup__person-input_long {
      width: (100% - 220px);
   }
}

.popup__person-input_photo{
   visibility: hidden;
   width: 0;
   height: 0;
}

.popup__person-input_photo-label {
   width: 50px;
   height: 70px;
   border: 1px solid var(--colorBackground);
   border-radius: 7px;
   overflow: hidden;
   font-family: 'Exo2';
   font-size: 10px;
   cursor: pointer;
}

.popup__person-input_photo-preview{
   object-fit: cover;
   object-position: center;
   width: 50px;
   height: 70px;
}

.popup__person-input_photo-text{
   font-family: 'Exo2';
   font-size: 10px;
   width: 165px;
   color: var(--colorBackground);
}

.popup__person-input_date{
   width: 92px;
   font-family: 'Exo2';
}

.popup__person-input_checkbox{
   margin: 0px 70px 10px 0;
   position: relative;
   border: 0.5px solid var(--colorBackground);
   border-radius: 10px;
   width: 25px;
   height: 10px;
   background-color: #fff;
   display: inline-block;
}

.popup__person-input_checkbox::before{
   content: '';
   position: absolute;
   left: 1.5px;
   top: 0.5px;
   width: 15px;
   height: 15px;
   border: 0.5px solid var(--colorBackground);
   border-radius: 50%;
   font-size: 10px;
   text-align: center;
   padding-top: 0.5px;
   transition: all 0.5s ease;
}

.popup__person-input_checkbox::after{
   content: 'только год';
   position: absolute;
   left: 40px;
   top: 2px;
   font-family: 'Exo2';
   font-size: 12px;
   font-weight: 200;
   margin: 0;
   display: inline-block;
   width: 60px;
}

.popup__person-input_gender{
   padding: 0 10px 10px;
   width: 20px;
   height: 20px;
}

.popup__person-input_checkbox_checked::before{
   content: '';
   left: 16px;
   background-color: var(--colorBackground);
}

.popup__person-input_now{
   margin: 0px 70px 10px 0;
   position: relative;
   border: 0.5px solid var(--colorBackground);
   border-radius: 10px;
   width: 25px;
   height: 10px;
   background-color: #fff;
   display: inline-block;
}

.popup__person-input_now::after {
   content: 'по н.в.';
   position: absolute;
   left: 40px;
   top: 2px;
   font-family: 'Exo2';
   font-size: 12px;
   font-weight: 200;
   margin: 0;
   display: inline-block;
   width: 60px;
}

.popup__person-input_now::before {
   content: '';
   position: absolute;
   left: 1.5px;
   top: 0.5px;
   width: 15px;
   height: 15px;
   border: 0.5px solid var(--colorBackground);
   border-radius: 50%;
   font-size: 10px;
   text-align: center;
   padding-top: 0.5px;
   transition: all 0.5s ease;
}

.popup__person-input_now_checked::before{
   content: '';
   left: 16px;
   background-color: var(--colorBackground);
}

.popup__person-input_label{
   font-family: 'Exo2';
   font-size: 14px;
   font-weight: 200;
   margin: 0 5px 0px 0px;
   display: inline-block;
   width: 90px;
   min-width: 90px;
   align-self: flex-start;
   display: inline-block;
}

.popup__person-input_error{
   color: #925F61;
   position: absolute;
   bottom: 0px;
   margin: 0;
   left: 100px;
   font-size: 11px;
   width: 100%;
}

.popup__person-input_delete{
   background-image: url(../../../images/free-icon-font-cross-3917189.png);
   width: 9px;
   height: 9px;
   background-size: contain;
   background-repeat: no-repeat;
   border: none;
   background-color: transparent;
   margin: 0 5px 15px;align-self: flex-start;
}